@font-face {
  font-family: "PoppinsLight";
  src: url("../../../public/fonts/Poppins-Light.woff2") format("woff2"),
    url("../../../public/fonts/Poppins-Light.woff") format("woff");

  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("../../../public/fonts/Poppins-Medium.woff2") format("woff2"),
    url("../../../public/fonts/Poppins-Medium.woff") format("woff");

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../../../public/fonts/Poppins-Bold.woff2") format("woff2"),
    url("../../../public/fonts/Poppins-Bold.woff") format("woff");

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsBlack";
  src: url("../../../public/fonts/Poppins-Black.woff2") format("woff2"),
    url("../../../public/fonts/Poppins-Black.woff") format("woff");

  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
