@font-face {
  font-family: "CircularStdLight";
  src: local('Poppins Light'), local('Poppins-Light');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStdMedium";
  src: local('Poppins Medium'), local('Poppins-Medium');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStdBold";
  src: local('Poppins Bold'), local('Poppins-Bold');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStdBlack";
  src: local('Poppins Black'), local('Poppins-Black');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}